<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title>AI powered Image Upscaler</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../static/css/main.css" />
</head>
<body class="is-preload">

	<!-- Header -->
	<header id="header">
		<h1>Image Upscale</h1>
		<p>Upload an image, I'll bring you the unexcepted hidden value of yours.</p>
	</header>

	<!-- Upload Form -->
	<form id="signup-form" method="post" action="#" enctype="multipart/form-data">
		<input type="file" name="file" id="page-search-input" value="Choose JPG"/>
		<input type="submit" value="Hit it!"/>
	</form>

	<!-- Footer -->
	<footer id="footer">
		<ul class="icons">
			<li><a href="https://github.com/DonHK-97?tab=repositories" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
			<li><a href="mailto: karmaddee@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
		</ul>
		<ul class="copyright">
			<li>&copy; Don.H. Kim</li><li>Credits: <a href="https://html5up.net">HTML5 UP</a></li>
		</ul>
	</footer>

	<!-- Scripts -->
	<script src="../templates/assets/js/main.js"></script>
</body>
</html>